// colors

$red: #E24A4A;
$light-grey: #D1D1D1;



#testimonials-body{
	display: flex;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	.testimonials-circle,
	.testimonials-text{
		flex: 1;
	}
	h2{
		text-align: center;
		color: $red;
	}
	.testimonials-desc{
		text-align: center;
		padding: 10px 40px;
		font-weight: 300;
		line-height: 1.5;
	}
	.testimonials-circle{
		.circle{
			border-radius: 50%;
			border: 1px solid $red;
			width: 400px;
			height: 400px;
			margin: 0 auto;
			position: relative;
		}
		.small-thumb{
			width: 50px;
			height: 50px;
			position: absolute;
			background: blue;
			border-radius: 50%;
			img{
				width: 100%;
				height: auto;
				border-radius: 50%;
			}
			div{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 50px;
				background-color: #fff;
				z-index: 5;
				padding: 5px;
				border: 1px solid $light-grey;
				white-space: nowrap;
			}
		}
	}
}