// colors

$red: #E24A4A;
$light-grey: #D1D1D1;



#testimonials-body{
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	@media screen and(min-width: 750px) {
		display: flex;
	}
	.testimonials-circle,
	.testimonials-text{
		flex: 1;
	}
	.testimonials-circle{
		margin: 0 20px 30px;
	}
	h2{
		text-align: center;
		color: $red;
	}
	.button{
		margin: 5px auto;
		background-color: $red;
		border-radius: 5px;
		display: inline-block;
		padding: 10px 13px;
		color: #fff;
		text-decoration: none;
	}
	.testimonials-desc{
		text-align: center;
		padding: 10px 40px;
		font-weight: 300;
		line-height: 1.5;
	}
	.quote{
		border: 1px solid $red;
		border-radius: 3px;
		padding: 20px;
		font-weight: 300;
		line-height: 1.5;
	}
	.testimonials-circle{
		text-align: center;
		position: relative;
		.outer-circle{
			border-radius: 50%;
			border: 1px solid $red;
			width: 100%;
			margin: 0 auto;
			position: relative;

		}
		.inner-circle{
			border-radius: 50%;
			border: 1px solid $light-grey;
			width: 50%;
			height: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.small-thumb,
		.large-thumb{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid transparent;
			&.border{
				border: 2px solid $red;
			}
			img{
				width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}
		.small-thumb{
			position: absolute;
			div{
				display: none;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 50px;
				background-color: #fff;
				z-index: 5;
				padding: 5px;
				border: 1px solid $light-grey;
				white-space: nowrap;
				&.visible{
					display: block;
				}
			}
		}
		.large-thumb{
			width: 200px;
			height: 200px;
			padding: 50px;
			position: relative;
			margin: 0 auto;
		}
	}
}