// colors

$red: #E24A4A;
$light-grey: #D1D1D1;



#testimonials-body{
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	@media screen and(min-width: 750px) {
		display: flex;
	}
	.testimonials-circle,
	.testimonials-text{
		flex: 1;
	}
	.testimonials-circle{
		margin: 0 20px 30px;
	}
	h2{
		text-align: center;
		color: $red;
	}
	h2.name{
		transition: all 2s;
		opacity: 0;
	}
	h3.job-title{
		transition: all 2s;
		opacity: 0;
	}
	.button{
		margin: 5px auto;
		background-color: $red;
		border-radius: 5px;
		display: inline-block;
		padding: 10px 13px;
		color: #fff;
		text-decoration: none;
		transition: all 2s;
		opacity: 0;
	}
	.testimonials-desc{
		text-align: center;
		padding: 10px 40px;
		font-weight: 300;
		line-height: 1.5;
	}
	.quote{
		border: 1px solid $red;
		border-radius: 3px;
		padding: 15px 20px;
		font-weight: 300;
		line-height: 1.5;
		position: relative;
		opacity: 0;
		transition: all 2s;
		&:after{
			content: '';
			position: absolute;
			top: 20px;
			left: -25px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 25px 15px 0;
			border-color: transparent #fff transparent transparent;
		}
		&:before{
			content: '';
			position: absolute;
			top: 19px;
			left: -26px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 16px 26px 16px 0;
			border-color: transparent $red transparent transparent;
		}
	}
	.visible{
		opacity: 1 !important;
	}
	.testimonials-circle{
		text-align: center;
		position: relative;
		.outer-circle{
			border-radius: 50%;
			border: 1px solid $red;
			width: 100%;
			margin: 0 auto;
			position: relative;

		}
		.inner-circle{
			border-radius: 50%;
			border: 1px solid $light-grey;
			width: 50%;
			height: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.small-thumb,
		.large-thumb{
			border-radius: 50%;
			border: 2px solid transparent;
			transition: all 0.8s ease-in-out;
			&.border{
				border: 2px solid $red;
			}
			img{
				width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}
		.thumbnail{
			transition: all 1s ease-in-out;
		}
		.small-thumb{
			width: 50px;
			height: 50px;
			position: absolute;
			div{
				display: none;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 65px;
				background-color: #fff;
				z-index: 5;
				border-radius: 3px;
				padding: 5px 7px;
				border: 1px solid $light-grey;
				white-space: nowrap;
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: -16px;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 11px 16px 11px 0;
					border-color: transparent $light-grey transparent transparent;

				}
				&:after{
					content: '';
					position: absolute;
					top: 50%;
					left: -15px;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 15px 10px 0;
					border-color: transparent #ffffff transparent transparent;

				}
				&.visible{
					display: block;
				}
			}
		}
		.large-thumb{
			// width: 200px;
			// height: 200px;
			padding: 30px;
			position: relative;
			margin: 0 auto;
		}
	}
}